Ch02_WP7SilverlightUXDevelopment/ControlTemplates/SampleData/ProductsSampleData/ProductsSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProductsSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProductsSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductsSampleData" type="tns:ProductsSampleData" />
  <xs:complexType name="ProductsSampleData">
    <xs:sequence>
      <xs:element name="Products" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Products">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProductsItem" type="tns:ProductsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductsItem">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="20,8" name="Description" type="xs:string" />
    <xs:attribute name="ProductImage" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Website URL" name="Url" type="xs:string" />
    <xs:attribute blend:Format="Price" name="Price" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>